.row {
    margin: 0 !important;
    width: 100%;
    display: flex;
  }

  .menu {
    list-style: none;
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
  }

  .menuPosition {
    float: right;
    padding: 20px 20px 0 0;
  }

  .aside {
    color: #FFF;
    background-color: #3766A6;
    width: 220px;
    min-width: 170px;
  }

  .item-name {
    height: 50px;
    line-height: 50px;
    padding-left: 28px;
  }

  .item-name:hover {
    background-color: #2C5285;
  }

  .children {
    height: 50px;
    line-height: 50px;
    padding-left: 49px;
  }

  .children:hover {
    background-color: #2C5285;
  }

  .sonContainer {
    right: 0;
    bottom: 0;
    top: 56px;
    flex-grow: 1;
    min-width: 800px;
  }
  .aside-icon {
    width: 18px;
    height: 18px;
  }